@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --mont-black: 'Montserrat-Black';
    --mont-boldItalic: 'Montserrat-BoldItalic';
    --mont-regular: 'Montserrat-Regular';
    --mont-semiBold: 'Montserrat-SemiBold';
    --light_mode: #FFFFFF;
    --dark_mode: #151437;
    --primary_color: #7177F1;
}

body {
    background: var(--light_mode);
}

/* HEADER START */



/* HEADER END */